@import url(https://fonts.googleapis.com/css?family=Lexend:100,200,300,regular,500,600,700,800,900);

* {
    font-family: 'Lexend', sans-serif;
    overflow: hidden;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;

    #app {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;

        display: flex;
        align-items: center;

        .container {
            width: 40vw;
            margin-left: 15vw;
            z-index: 5;

            button {
                background-color: black;
                padding: 1em 2em;
                margin-top: 20px;
                
                color: white;

                border: 2px solid black;
                border-radius: 5em;

                transition: 250ms ease;

                &:hover {
                    cursor: pointer;

                    background-color: white;
                    color: black;
                }
            }

            .profile-select {
                display: flex;
                flex-wrap: wrap;

                p {
                    // min-width: max-content;
                    margin: 10px 10px 10px 0;
                }
                
                select {
                    background-color: rgb(255, 255, 255);
                    padding: 0.8em 1.6em;
                    
                    color: rgb(0, 0, 0);
    
                    border: 2px solid black;
                    border-radius: 5em;
    
                    transition: 250ms ease;
                }
            }
        }

        img {
            position: absolute;
            right: 0;
        }

        .front-arrow {
            width: 20vw;

            animation: floating-front 5s 500ms ease-in-out infinite;
        }
        .picture {
            width: 30vw;
            border-radius: 320px;
            right: 10vw;

            box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);

            animation: floating-front 5s ease-in-out infinite;
        }
        .back-arrow {
            width: 50vw;

            animation: floating-back 5s 250ms ease-in-out infinite;
        }
    }
}


@media screen and (max-width: 500px) {

    body {
    
        #app {
            align-items: baseline;
            justify-content: center;
    
            .container {
                width: 80vw;
                margin-left: 0;
                margin-top: 10vh;

                display: flex;
                flex-direction: column;
                align-items: center;
    
                h1, p {
                    text-align: center;
                }

                .profile-select {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
    
                    p {
                        margin: 10px 10px 10px 0;
                    }
                }
            }
    
            img {
                position: absolute;
                right: auto;
                bottom: 0;
            }
    
            .front-arrow {
                width: 40vw;
                transform: rotate(90deg);
                bottom: -100px;

                animation: floating-front-r 5s 500ms ease-in-out infinite;
            }
            .picture {
                width: 60vw;
                right: auto;
                bottom: 100px;

                animation: floating-pic-r 5s ease-in-out infinite;
            }
            .back-arrow {
                width: 100vw;
                transform: rotate(90deg);
                bottom: -100px;

                animation: floating-back-r 5s 250ms ease-in-out infinite;
            }
        }
    }
}

@keyframes floating-front {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(15px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes floating-back {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(50px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes floating-front-r {
    0% {
        transform: rotate(90deg) translateX(0px);
    }
    50% {
        transform: rotate(90deg) translateX(15px);
    }
    100% {
        transform: rotate(90deg) translateX(0px);
    }
}

@keyframes floating-pic-r {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes floating-back-r {
    0% {
        transform: rotate(90deg) translateX(0px);
    }
    50% {
        transform: rotate(90deg) translateX(50px);
    }
    100% {
        transform: rotate(90deg) translateX(0px);
    }
}


